# DS store mac
.DS_Store
*/.DS_Store
*/*/.DS_Store

# Node
node_modules/
dist/

# Python
public/py/*__pycache__/
public/py/graphbin/__pycache__/
public/py/graphbin/parsers/__pycache__/
public/py/graphbin/labelpropagation/__pycache__/
tests/bench/__pycache__/
tests/python/__pycache__/

# Testing
test-results/
playwright-report/
coverage/
tests/bench/results/*.csv

# Benchmarking data
tests/data/
